$about-color: rgb(22, 85, 41);


.about-hr {
  width: 75%;
  background: $about-color;
  height: 0.75px;
  margin-top: 4%;
  border: $about-color;
}

.about-header {
  color: $about-color;
  text-align: center;
}

.about-text {
  text-align: center;
}

.about-container {
  margin-left: 3%;
  margin-right: 3%;
}