$faq-color: rgb(22, 85, 41);


.faq-hr {
  width: 75%;
  background: $faq-color;
  height: 0.75px;
  margin-top: 4%;
  border: $faq-color;
}

.faq-header {
  color: $faq-color;
  text-align: center;
}

.faq-text {
  text-align: center;
}

.faq-container {
  margin-left: 3%;
  margin-right: 3%;
}