.footer {
  width: 100%;
  display: flex;
}

.signature {
  width: 30%;
  margin: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .mail, .phone {
    display: flex;

    .mail-icon {
      align-self: center;
      margin: 5px;
    }

    .phone-icon {
      align-self: center;
      margin: 5px;
    }
  }

}



.text {
  margin-left: 3%;
  width: 50%;
}

.content {
  margin-block-end: 0;
}
